


/*-----------------*/
/*     general     */
/*-----------------*/

body{
    margin: 0;
}

.container {
    width : 1660px
}








/*-----------------*/
/*     colors     */
/*-----------------*/

.clrone {
    background-color: #252525;
}